@font-face {
  font-family: Lato-Regular; 
  src: url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Bold; 
  src: url(../assets/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Light; 
  src: url(../assets/fonts/Lato-Light.ttf);
}

/* HEADER */

header {
  font-family: 'Lato-Bold';
  padding: 20px 0 10px 0;
}

header img {
  width: 32px;
  height: 32px;
}

/* MAIN */

main {
  font-family: 'Lato-Light';
}

main p {
  text-align: justify;
  padding: 20px 40px 0 40px;
}

/* PHOTOS */

main ul {
  list-style: none;
  width: 100%;
  padding: 20px 0 20px 0;
}

main ul li img {
  width: 100%;
  margin: 0 auto;
}

/* ARTICLE */

article {
  padding: 20px 0 40px 0;
}

/* BUTTON keep reading */

.button { 
  margin: 20px auto;
}

.button img {
  width: 20px;
  height: 20px;
}

/* PICTOS Like & Comment */

main section img{
  width: 23px;
  height: 21px;
}

/* BUTTON read all articles */

.button:nth-of-type(3) {
  width: 60%;
  border: 1px solid #4A4A4A; 
  border-radius: 20px;
  padding: 10px;
}

/* LINES boundaries*/

.line {
  background: #4A4A4A;
  width: 60%;
  height: 1px;
  margin: 20px auto 20px auto;
}

.line:first-child, 
.line:last-child {
  width: 90%;
}

/* FOOTER */

footer {
  font-family: 'Lato-Light';
  font-size: 0.75rem;
  padding-bottom: 20px;
}

/* RESPONSIVE */

@media (min-width: 750px) {

  main ul {
    width: 75%;
    margin: 0 auto;
  }
  
  main ul li {
    display: inline-block;
    width: calc(100% / 3 - 5px);
    opacity: 0.5;
    transition: all 0.5s;
  }

  main ul li:hover {
    opacity: 1;
  }

  main p {
    width: 40%;
    margin: 0 auto;
  }

  .button:nth-of-type(3) {
    width: 20%;
    transition: all 0.5s;
  }

  .button:nth-of-type(3):hover {
    color: white;
    background: #417505;
  }

  .line {
    width: 75%;
  }

  main section {
    position: relative;
    width: 75%;
    margin: 0 auto 30px auto;
  }

  main section img:nth-child(1) {
    position: absolute;
    right: 40px;
  }

  main section img:nth-child(2) {
    position: absolute;
    right: 0;
  }

  main section img,
  .button img {
    opacity: 0.7;
    transition: all 0.5s;
  }

  main section img:hover,
  .button img:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}